@-webkit-keyframes infiniteRotate {    
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
/* Standard syntax */
@keyframes infiniteRotate {  
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// GLOBAL STYLES

a:visited, a:link{
  color: inherit;
}

@media only screen and (min-width: 641px) {
  a:hover {
    box-shadow: var(--window-pink) 0 0 0 12px;
    background-color: var(--window-pink);
  }
}

main {
  min-height: 50vh;
}

h1 {
  font-family: 'timberline';
}

img {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

.signature {
  font-size: 64pt;
  display: block;
  text-align: center;
  margin: 0;
  padding-right: 3%;
}

.center {
  text-align: center;
}

.ellipsis {
  text-align: center;
  font-kerning: none;
  letter-spacing: 12px;
}

.App {
  margin: auto;
  width: var(--page-width);
  min-width: var(--page-min-width);
  max-width: var(--page-max-width);
  transition: opacity 1.5s ease-in;
}

.App.show {
  opacity: 1;
}

.App.hidden {
  opacity: 0;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading svg {
  padding: 0;
  position: relative;
  -webkit-animation: infiniteRotate 2s linear infinite;
  animation: infiniteRotate 2s linear infinite;
}

.listItemHead {
  font-weight: bold;
}

.lead-in {
  margin-top: 96px;
  margin-bottom: 72px;
}

.text-content {
  box-sizing: border-box;
  margin: 12px 0px 48px;
  padding: 18px 18px;
  position: relative;
  
  p {
    margin: 0 0 28px;
  }

  .ellipsis {
    margin-bottom: 0;
  }
}

.maz .label { 
  background-color: var(--window-orange-opaque); 
  box-shadow: var(--window-orange-opaque) 0 0 6px -2px;
}
.aaron .label { 
  background-color: var(--window-pink-opaque); 
  box-shadow: var(--window-pink-opaque) 0 0 6px -2px;
}

.subtle {
  color: var(--main-grey);
  letter-spacing: 2pt;
  font-size: 12pt;
}

.countdownComponent {
  padding: 48px 0 96px;
  font-size: 32pt;
  font-family: 'timberline';
  border-radius: 50%;
  margin: 84px 0;
  
  :first-child {
    font-family: 'kepler-std-display';
    margin-bottom: 0px;
  }

  :last-child {
    margin-top: 28px;
  }
  
  p {
    margin: 0;
    line-height: 1.4;
  }

  span {
    font-family: 'timberline' !important;
    font-size: 84pt;
    transform: translate(-9px, 12px);
    position: relative;
    display: inline-block;
  }
}

main.registry {
  text-align: center;
  padding-top: 24px;
  p {line-height: 3;}
  :nth-child(2) {
    font-size: 1.5rem;
  }
}

