.home {
  img.hero {
    position: relative;
    filter: brightness(1.25) contrast(0.95);
  }
  
  .img-filter {
    background-image: linear-gradient(0deg, rgba(255, 225, 190, 0), var(--window-orange));
    opacity: 0.85;
    position: absolute;
    width: var(--page-width);
    max-width: var(--page-max-width);
    height: 15vw;
    z-index: 10;
  }
}